<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="f">
    <div class="layui-col-md12" style="text-align: center;margin-top: 5px">
        <a target="_blank" href="https://beian.miit.gov.cn/" style="text-decoration: none">桂ICP备20005695号</a>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45098102000418"
           style="text-decoration: none"><img src="/static/images/beian.png" alt="">桂公网安备45098102000418号</a>
    </div>
</div>
</body>
</html>