<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="m">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>功能菜单</legend>
    </fieldset>
    <a href="/toPersonMessagePage" style="color: #1296db"><h3 style="margin-left: 30px"><p><img src="/static/images/htmlImg/person.png" style="height: 20px" alt="">个人信息</p></h3></a>
    <a href="/toWriteArticlePage" style="color: #1296db"><h3 style="margin-left: 30px;margin-top: 10px"><p><img src="/static/images/htmlImg/fabu.png" style="height: 20px;width: 20px" alt="">发布资源</p></h3></a>
    <a href="/toArticleManagePage" style="color: #1296db"><h3 style="margin-left: 30px;margin-top: 10px"><p><img src="/static/images/htmlImg/ziyuan.png" style="height: 20px;width: 20px" alt="">资源管理</p></h3></a>
    <a href="#" style="color: #1296db"><h3 style="margin-left: 30px;margin-top: 10px"><p><img src="/static/images/htmlImg/shixiao.png" style="height: 20px;width: 20px" alt="">失效资源管理</p></h3></a>
    <a href="#" style="color: #1296db"><h3 style="margin-left: 30px;margin-top: 10px"><p><img src="/static/images/htmlImg/pinglun.png" style="height: 20px;width: 20px" alt="">评论管理</p></h3></a>
    <a href="#" style="color: #1296db"><h3 style="margin-left: 30px;margin-top: 10px"><p><img src="/static/images/htmlImg/xiazai.png" style="height: 20px;width: 20px" alt="">已下载资源</p></h3></a>
    <a href="#" style="color: #1296db"><h3 style="margin-left: 30px;margin-top: 10px"><p><img src="/static/images/htmlImg/xitong.png" style="height: 20px;width: 20px" alt="">系统消息</p></h3></a>
</div>
</body>
</html>