*{
    padding: 0;
    margin: 0;
}
#box{
    position: relative;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #e8e8e8;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.bgColor{
    position: absolute;
    left:0;
    top:0;
    width:40px;
    height: 40px;
    background-color: lightblue;
}
.txt{
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #000;
    text-align: center;
}
.slider{
    position: absolute;
    left:0;
    top:0;
    width: 50px;
    height: 38px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    cursor: move;
}
.slider>i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.slider.active>i{
    color:green;
}
img{
    max-width:100%;
}