<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <form class="layui-form" action="" lay-filter="example">
        <div class="layui-form-item" style="text-align: center">
            <div class="layui-inline">
                <label class="layui-form-label" style="margin-top: 62px">用户名:</label>
                <div class="layui-input-block">
                    <input type="text" name="username" style="width: 333px;border-color: gray;margin-top: 62px" lay-verify="title" autocomplete="off" placeholder="请输入用户名"
                           class="layui-input">
                </div>
                <label class="layui-form-label" style="margin-top: 12px">密码:</label>
                <div class="layui-input-block">
                    <input type="password" name="password" style="width: 333px;border-color: gray;margin-top: 12px" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-block" style="text-align: center">
                    <button type="submit" style="margin-top: 12px" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="demo1">登录</button>
                    <a href="/toRegisterPage"><button type="button" style="margin-top: 12px" class="layui-btn btn-info" lay-submit="" lay-filter="demo1">去注册</button></a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>