<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div>
        <div class="layui-col-md3">
            <div th:include="common/menuLeft::#m"></div>
        </div>
        <div class="layui-col-md9">
            <form action="/toArticleManagePage" method="post" class="layui-form">
                <div style="margin-top: 24px">
                    <p class="layui-breadcrumb">
                        <i class="layui-icon layui-icon-location">当前位置：</i>
                        <a href="">首页</a>
                        <a href="/toUserBackstagePage">个人中心</a>
                        <a><cite>我的下载</cite></a>
                    </p>
                </div>
                <div>
                    <div th:each="downloadMessage:${downloadMessageList}">
                        <h3><p style="margin-top: 10px">[<span th:text="${#dates.format(downloadMessage.downloadDate,'yyyy-MM-dd HH:mm:ss')}"></span>]&nbsp;&nbsp;-----下载了：<a style="color: #1e9fff" th:href="${'/article/'+downloadMessage.articleId}" th:text="${downloadMessage.article.name}"></a></p></h3>
                    </div>
                    <div align="center">
                        <div class="layui-box layui-laypage" th:utext="${pageCode}">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>