<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="layui-container" style="margin-top: 5%">
        <div class="layui-col-md3"><span style="color: white">1</span></div>
        <blockquote class="layui-elem-quote layui-col-md6" style="border-color: #1e9fff">
            <h2 style="text-align: center">找回密码</h2>
            <form class="layui-form" action="/user/searchPassword" method="post" lay-filter="example"
                  onsubmit="return checkSearchPasswordValue()">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="margin-top: 12px">新密码:</label>
                        <div class="layui-input-block">
                            <input type="password" id="passwordSearchPassword" name="password" required="required"
                                   style="width: 100%;border-color: gray;margin-top: 12px" placeholder="请输入新密码"
                                   autocomplete="off" class="layui-input" th:value="${user!=null?user.password:''}">
                        </div>
                        <label class="layui-form-label" style="margin-top: 12px">确认密码:</label>
                        <div class="layui-input-block">
                            <input type="password" id="password2SearchPassword" required="required"
                                   style="width: 100%;border-color: gray;margin-top: 12px" placeholder="请输入确认密码"
                                   autocomplete="off" class="layui-input" th:value="${user!=null?user.password:''}">
                        </div>
                        <label class="layui-form-label" style="margin-top: 12px;">邮箱:</label>
                        <div class="layui-input-block">
                            <input name="email" type="email" id="emailSearchPassword" required="required"
                                   style="width: 388px;border-color: gray;margin-top: 12px" placeholder="请输入邮箱" th:value="${user!=null?user.email:''}"
                                   autocomplete="off" class="layui-input" onblur="checkEmail2(this.value)">
                            <span id="emailFail2" style="color: red">输入邮箱后才可以获取验证码</span>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="margin-top: 12px">验证码:</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                    <input type="text" id="checkCode" name="checkCode" required="required"
                                           placeholder="输入验证码" autocomplete="off" class="layui-input"
                                           style="margin-top: 12px;border-color: gray;" th:value="${user!=null?user.checkCode:''}">
                                </div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <a href="javascript:sendEmail()"><input id="getCodeBtn" type="button"
                                                                            class="layui-btn layui-btn-warm layui-btn-disabled"
                                                                            disabled="disabled" style="margin-top: 12px"
                                                                            value=" 获取验证码" onclick="setTime(this)"></a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-input-block" style="text-align: center">
                            <button type="submit" style="margin-top: 12px" class="layui-btn layui-btn-normal"
                                    lay-submit="" lay-filter="demo1">提交
                            </button>
                            <a href="/toLoginPage">
                                <button type="button" style="margin-top: 12px" class="layui-btn btn-info" lay-submit=""
                                        lay-filter="demo1">去登录
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </blockquote>
    </div>
</div>
</body>
</html>