<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="layui-container" style="margin-top: 5%">
        <div class="layui-col-md3"><span style="color: white">1</span></div>
        <blockquote class="layui-elem-quote layui-col-md6" style="border-color: #1e9fff">
            <h2 style="text-align: center">找回密码</h2>
            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="margin-top: 33px">新密码:</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" style="width: 388px;border-color: gray;margin-top: 33px" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="margin-top: 12px">确认密码:</label>
                        <div class="layui-input-block">
                            <input type="password" name="password" style="width: 388px;border-color: gray;margin-top: 12px" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-form-label" style="margin-top: 12px;">邮箱:</label>
                        <div class="layui-input-block">
                            <input type="email" name="password" style="width: 388px;border-color: gray;margin-top: 12px" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="margin-top: 12px">验证码:</label>
                                <div class="layui-input-inline" style="width: 200px;">
                                    <input type="text" name="price_min" placeholder="输入验证码" autocomplete="off" class="layui-input" style="margin-top: 12px;border-color: gray;">
                                </div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="button" class="layui-btn layui-btn-warm" style="margin-top: 12px" value=" 获取验证码" onclick="setTime(this);">
                                </div>
                            </div>
                        </div>
                        <div class="layui-input-block" style="text-align: center">
                            <button type="submit" style="margin-top: 12px" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="demo1">提交</button>
                            <a href="/toLoginPage"><button type="button" style="margin-top: 12px" class="layui-btn btn-info" lay-submit="" lay-filter="demo1">去登录</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </blockquote>
    </div>
</div>
</body>
</html>