<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div>
        <div class="layui-col-md3">
            <div th:include="common/menuLeft::#m"></div>
        </div>
        <div class="layui-col-md9">
            <form action="/article/save" method="post" class="layui-form" onsubmit="return checkUpdateArticleValue()">
                <div style="margin-top: 24px">
                    <p class="layui-breadcrumb">
                        <i class="layui-icon layui-icon-location">当前位置：</i>
                        <a href="">首页</a>
                        <a href="/toUserBackstagePage">个人中心</a>
                        <a><cite>修改资源<span style="color: red">(资源修改后会变成未审核状态,需要重新审核,请谨慎修改)</span></cite></a>
                    </p>
                    <label class="layui-form-label" style="margin-top: 33px">资源名称:</label>
                    <div class="layui-input-block">
                        <input type="text" id="name" name="name"
                               style="width: 388px;border-color: gray;margin-top: 33px"
                               lay-verify="title" autocomplete="off" required="required" placeholder="请输入资源名称"
                               class="layui-input" th:value="${article.name}">
                    </div>
                    <label class="layui-form-label" style="margin-top: 12px">资源类别:</label>
                    <div class="layui-input-block" style="margin-top: 12px;width: 388px">
                        <select id="articleTypeIdUpdate" name="articleTypeId" lay-filter="aihao">
                            <option value="">请选择类别...</option>
                            <div th:each="articleType:${articleTypeList}">
                                <option th:value="${articleType.id}" th:text="${articleType.name}"></option>
                            </div>
                        </select>
                    </div>
                    <label class="layui-form-label" style="margin-top: 12px">资源描述:</label>
                    <div class="layui-input-block" style="margin-top: 12px">
                        <textarea id="content" name="content" rows="30" cols="90" th:value="${article.content}"></textarea>
                    </div>
                    <label class="layui-form-label" style="margin-top: 12px">分享地址:</label>
                    <div class="layui-input-block">
                        <input type="text" required="required" id="downloadLink" name="downloadLink"
                               style="width: 388px;border-color: gray;margin-top: 12px" placeholder="请输入分享地址" th:value="${article.downloadLink}"
                               autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label" style="margin-top: 12px">分享密码:</label>
                    <div class="layui-input-block">
                        <input type="text" required="required" id="password" name="password"
                               style="width: 388px;border-color: gray;margin-top: 12px" placeholder="请输入分享密码" th:value="${article.password}"
                               autocomplete="off" class="layui-input">
                        <input type="hidden" id="userId" name="userId" th:value="${article.userId}">
                        <input type="hidden" id="id" name="id" th:value="${article.id}">
                    </div>
                    <label class="layui-form-label" style="margin-top: 12px">积分:</label>
                    <div class="layui-input-block" style="margin-top: 12px;width: 388px">
                        <select id="pointsUpdate" name="points" lay-filter="aihao">
                            <option value="">请选择下载所需积分...</option>
                            <option value="0">0个积分</option>
                            <option value="1">1个积分</option>
                            <option value="2">2个积分</option>
                            <option value="3">3个积分</option>
                            <option value="4">4个积分</option>
                            <option value="5">5个积分</option>
                            <option value="6">6个积分</option>
                            <option value="7">7个积分</option>
                            <option value="8">8个积分</option>
                            <option value="9">9个积分</option>
                            <option value="10">10个积分</option>
                        </select>
                    </div>
                    <div class="layui-input-block" style="margin-top: 12px">
                        <button class="layui-btn layui-btn-normal" type="submit"><i class="layui-icon layui-icon-edit"></i>修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>